<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="opennms"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.netxforge.oss2.poc.app.opennms"
            name="OpenNMS">
         <property
               name="appName"
               value="OpenNMS">
         </property>
      </product>
   </extension>

</plugin>
